---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "**CREDITS**";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>**FREE ASSETS USED**</h2>
  <ul>
    <li>All icons: https://game-icons.net/</li>
  </ul>
</BaseLayout>
