---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "**CREDITS**";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>**FREE ASSETS USED**</h2>
  <ul>
    <li>
      All icons: <a href="https://game-icons.net/" target="_blank"
        >game-icons.net</a>
    </li>
  </ul>
</BaseLayout>
