---

---

<div class="nav-links">
  <a href="/">Me</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
  <a href="/tags/">Tags</a>
  <a href="/resume/">Resume</a>
  <a href="/credits/">Credits</a>
</div>

<style>
  .nav-links {
    font-family: "JetBrains Mono Variable", monospace;
  }
</style>
